{% extends "posts/base.html" %}
{% block content %}
<div class="text-center">
  <img class="rounded-circle" src="media/default.png">
  <div>
    <h6 class="introduction">
      Hi.. I am Ramkrushna Bolewar and Welcome to my blog site.!  
    </h6>
  </div>
</div>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h4 class="text-info mr-2">
        Gangadhar Patil <small class="mr-auto text-muted">Posted on 12-Dec-2020</small>
      </h4>
      <h6 class="text-secondary mr-auto">Software Deveoper at Amazon</h6>      
    </div>
    <h3><a class="article-title text-dark" href="#">Blog Title</a></h3>
    <p class="article-content">Content</p>
  </div>
</article>
{% endblock %}