{% extends "posts/base.html" %}
{% block content %}
<div class="text-center">
  <img class="rounded-circle" src="media/default.png">
  <div>
    <p class="introduction">
      Welcome to my blog site <br>
      Hi... I am Ramkrushna and I am working as an Application Engineer in DBS, Hyderabad.
    </p>
  </div>
</div>
{% for post in post_s %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h4 class="text-info mr-2">
        {{ post.author.first_name }} {{ post.author.last_name }}
        <small class="mr-auto text-muted">{{ post.posted_on }}</small>
      </h4>
      <h6 class="text-secondary mr-auto">{{ post.author_description }}</h6>      
    </div>
    <h3>
      <a class="article-title text-gray" href="{% url 'posts-detail' post.id %}">
        {{ post.title }}
      </a>
    </h3>
    <p class="article-content">
      {% if post.image %}
        <img class="mx-auto d-block" src="{{ post.image.url }}">
      {% endif %}
      {{ post.content|safe }}
    </p>
  </div>
</article>
{% endfor %}
{% endblock %}